/* Write your code here: */
h1,h2{
    color:purple;
}
/* .box p{
    color:red;
} */
.box>p{
    color:firebrick;
}
.list li{
    color:blue;
}

li.done {
    color:green;
}
.done p{
    color:black;
}
ul p.done{
    font-size: small;
    color:red;
}
